a.nav-link {
    color: midnightblue;
}
a.nav-link:hover {
    color: gold;
    text-decoration: none;
}

body {
    background-color: black;
}

/* Particle container. */
#particle-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

h1{
    color: black;
}

h2 {
    font-family: 'Averia Sans Libre', cursive;
}
h5{
    color: dimgrey;
}
h6 {
    color: lightcyan;
}

label {
    font-family: 'Play', sans-serif;
    color: grey;
}

p{
    color: gainsboro;
} 
table {
    text-align: center;
}


canvas {
    display: block;
}
#snowfall {
    width: 100%;
    height: 100vh;
    background: dodgerblue;
}
#snowfall2 {
    width: 100%;
    height: 100vh;
    background: dimgrey;
}



.carousel-indicators li {
    background-color: #5f849b
}
.carousel-indicators .active {
    background-color: #5f849b
}
.carousel-item {
    margin: 20px;
    padding-bottom: 20px;
    height: 660px;
}

.chkmrk {
    height: 15px;
    width: 15px;
}

.fa {
    border-radius: 10px;
    padding: 20px;
    font-size: 50px;
    width: 130px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #2c5bdd;
    color: white;
}
.fa-github {
    background: #000000;
    color: white;
}

.form-control {
    font-family: 'Play', sans-serif;
}


.imageButtons {
    height: 30px;
    width: 30px;
}
.info {
    display: none;
}

.nav-link {
    color: silver;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: large;
}
.navbar{
    background-color: white;
}
.navbar-toggler {
    background-color: white;
    border-radius: 7px;
}

.pos-f-t{
    background-color: papayawhip;
}

.tableHeaders {
    font-size: large;
}




#getInTouch {
    text-align: left;
    padding-top: 30px;
}
#getInTouchHeader {
    border-bottom: dashed 1px silver;
}

#itemOneTitle {
    color: navajowhite;
    display: none;
}
#itemTwoTitle {
    color: navajowhite;
}

#mainSlide {
    text-align: center;
    padding-top: 80px;
}
#messageForm{
    padding: 20px;
    border-right: dashed 1px silver;
}

#navbarTitle {
    /*font-family: 'Indie Flower', cursive;*/
    /*font-family: 'Baloo Bhaijaan', cursive;*/
    /*font-family: 'Gloria Hallelujah', cursive;*/
    /*font-family: 'Amatic SC', cursive;*/
    /*font-family: 'Play', sans-serif;*/
    font-family: 'Permanent Marker', cursive;
}

#navLabel {
    font-family: 'Permanent Marker', cursive;
    font-size: large;
}

#next {
    pointer-events: none;
}

#particles-js {
    background: cornflowerblue;
}

#prev {
    pointer-events: none;
    /*display: none;*/
}

#profilePic {
    width: 215px;
    height: 215px;
    border-radius: 105px;
    display: none;
    /*animation: 1s ease-out 0s 1 slideInFromLeft;
    background: #333;*/
}

#rel {
    font-size: xx-large;
    color: mediumpurple;
    text-align: left;
}

#resume {
    height: 85%;
    width: 40%;
}

#secondSlide {
    /*font-family: 'Play', sans-serif;*/
}

#welcome {
    font-size: 165px;
    display: none;
}



@media only screen and (max-width: 1200px) {
    .fa {
        border-radius: 10px;
        padding: 20px;
        font-size: 50px;
        width: 130px;
        text-align: center;
        text-decoration: none;
    }

    .imageButtons {
        height: 30px;
        width: 30px;
    }

    .chkmrk {
        height: 15px;
        width: 15px;
    }

}
@media only screen and (max-width: 1024px) {
    .fa {
        border-radius: 10px;
        padding: 20px;
        font-size: 40px;
        width: 110px;
        text-align: center;
        text-decoration: none;
    }
    .imageButtons {
        height: 25px;
        width: 25px;
    }
    .chkmrk {
        height: 15px;
        width: 15px;
    }
}
@media only screen and (max-width: 725px) {
    .fa {
        border-radius: 20px;
        padding: 20px;
        font-size: 40px;
        width: 80px;
        text-align: center;
        text-decoration: none;
    }
    .imageButtons {
        height: 20px;
        width: 20px;
    }
    .chkmrk {
        height: 10px;
        width: 10px;
    }
    #rel{
        font-size: large;
    }
    .tableHeaders {
        font-size: medium;
    }
}
@media only screen and (max-width: 650px) {
    .fa {
        border-radius: 100px;
        height: 20px;
        padding: 40px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
    }
    .carousel-item {
        height: 675px;
    }
    .imageButtons {
        height: 20px;
        width: 20px;
    }
    .chkmrk {
        height: 10px;
        width: 10px;
    }
    #rel {
        font-size: medium;
    }
    .tableHeaders {
        font-size: small;
    }
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
